{% extends "base.jinja2" %}

{% block title %}Add Message{% endblock %}

{% block content %}
  <form method="post" role="form">
    {% csrf_token %}
    {{ form }}
    <input type='submit' class="btn btn-primary" value="Add Message" />
  </form>
{% endblock %}