{% extends "base.jinja2" %}

{% block title %}Edit Message{% endblock %}

{% block content %}
<form method="post" role="form" action="">
  {% csrf_token %}
  {{ form }}
  <input type='submit' class="btn btn-primary" value="Edit Message" />
</form>
{% endblock %}